<html layout:decorate="~{layout}">
    <div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/insert.css}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
	<script src="/js/dropzone-upload.js"></script>      
	<script src="/js/insertForm.js"></script>  
		<div class="gtml-document-wrapper">
	        <div class="gtml-document">
	            <div class="left-panel">
					
	                <div class="drop-zone">
	                    <form action="/upload" class="dropzone" id="myDropzone"></form>
	                </div>
					
	                <form action="/productInsertAction" class="product-info-group" method="post">
						<input type="text" class="product-name" name="productName" placeholder="상품 이름">
						<input type="text" class="ai-tags" name="aiTags" placeholder="AI 자동 태그 (예: 바지, 상의)">
						<input type="text" class="price" name="price" placeholder="가격 : ex) 10,000(원)">
						<input type="hidden" name="imageUrl" id="imageUrl">
						<input type="hidden" name="aiConsulting" id="aiConsulting">
						<input type="submit" class="insert-btn" value="상품 등록하기" />
	                </form>
	            </div>
	            <div class="right-panel">
	                <div class="description-1">
	                    <input class="light-product" type="text" placeholder="가벼운 설명(엔터시 컨설팅)"/>
	                </div>
					<div class="description-2">
					    <textarea class="ai-consulting" placeholder="컨설팅으로 설명 리팩토링"></textarea>
					</div>
					<div id="loading-container" style="display:none; margin-top:5px; align-items:center; gap:5px;">
					    <div class="spinner"></div>
					    <span>잠시 기다려주세요…</span>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
</html>