<html layout:decorate="~{layout}">
    <div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/main.css}" />    
	    <section class="main-visual">
	        <div class="container">
	            <img src="main-banner.jpg" alt="메인 배너">
	        </div>
	    </section>
	
		<main class="product-list">
		    <div class="container">
		        <h2>NEW PRODUCT</h2>

		        <!-- 상품이 없을 때 메시지 -->
		        <div th:if="${products == null or #lists.isEmpty(products)}">
		            <p>현재 등록된 상품이 없습니다.</p>
		        </div>

				<!-- 상품이 있을 때만 반복 -->
				<div class="products" th:if="${products != null and !#lists.isEmpty(products)}">
				    <a class="product-item" th:each="product : ${products}" th:href="@{/product/{idx}(idx=${product.productIdx})}">
				        <img th:src="|/${product.productImg}|" th:alt="${product.productName}">
				        <div class="product-info">
				            <span class="product-name" th:text="${product.productName}"></span>
				            <span class="product-price" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + '원'"></span>
				        </div>
				    </a>
				</div>
		    </div>
		</main>

    </div>
</html>